[submodule "themes/hugo-theme-yuki"]
	path = themes/hugo-theme-yuki
	url = https://github.com/iCyris/hugo-theme-yuki
[submodule "themes/hugo-theme-shwchurch"]
	path = themes/hugo-theme-shwchurch
	url = git@github.com:shwchurch3/hugo-theme-shwchurch.git
[submodule "public"]
	path = public
	url = https://github.com/shwchurch3/shwchurch3.github.io.git
[submodule "sw-wechat"]
	path = sw-wechat
	url = https://github.com/sw-wechat/sw-wechat.github.io.git
[submodule "shwchurch4.github.io"]
	path = shwchurch4.github.io
	url = git@github.com:shwchurch4/shwchurch4.github.io.git
[submodule "shwchurch5.github.io"]
	path = shwchurch5.github.io
	url = git@github.com:shwchurch5/shwchurch5.github.io.git
[submodule "shwchurch2020.github.io"]
	path = shwchurch2020.github.io
	url = git@github.com:shwchurch2020/shwchurch2020.github.io.git
[submodule "shwchurch7.github.io"]
	path = shwchurch7.github.io
	url = git@github.com:shwchurch7/shwchurch7.github.io.git
